<button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/sloniki">
        GO BACK
    </a>
</button>

<form method="POST" action="{{action}}">
    <fieldset>
        <label>
            Username
            <input type="text" name="username" value="{{formData.username}}" placeholder="Enter Username" required />
            {{#if errorUsername}}
                <p style="color:#ff0000">{{errorUsername}}</p>
             {{/if}}
        </label>
        
        <label>
            Password
            <input type="password" name="password" placeholder="Enter Password" required />
            {{#if errorPassword}}
                <p style="color:#ff0000">{{errorPassword}}</p>
            {{/if}}
        </label>
        
        <label>
            Age
            <input type="number" name="age" value="{{formData.age}}" placeholder="Enter Age" required/>
            {{#if errorAge}}
                <p style="color:#ff0000">{{errorAge}}</p>
            {{/if}}
        </label>
        
        <label>
            Place of birth
            <input type="text" name="place_of_birth" value="{{formData.place_of_birth}}" placeholder="Enter Place of birth" required/>
            {{#if errorPlaceOfBirth}}
                <p style="color:#ff0000">{{errorPlaceOfBirth}}</p>
            {{/if}}
        </label>
        
        <button type="submit">Зберегти</button>
    </fieldset>
</form>