<style>
    .body{
        background-image:  #000000;
       background: #000000;
background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 38%, rgb(0, 0, 0) 100%);
        height:auto; 
    }
      table td, table th {
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 10px 10px; 
    border: 1px solid #ffffff; 
    }
</style>
     <button 
    style="background-color: rgb(0, 0, 0)">
    <a style="color:#ff0000" href="/">
        GO BACK
    </a>
</button>
  <button 
    style="background-color: rgb(0, 0, 0)">
    <a style="color:#ff0000" href="/heroes_mlbb/add">
        ADD HERO
    </a>
</button>
<body class="body"></body>
<table>
    <thead>
    <tr>
       <th scope="col">ID</th>
        <th scope="col">Ім'я</th>
        <th scope="col">Клас</th>
        <th scope="col">Роль</th>
        <th scope="col">Тип атаки</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
{{#each heroes}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>       
            <td>{{this.hero_class}}</td> 
            <td>{{this.role}}</td>       
            <td>{{this.attack_type}}</td>

            <td><a href="/heroes_mlbb/edit/{{this.id}}" class="btn-edit">Edit</a></td>
            <td><a href="/heroes_mlbb/delete/{{this.id}}" class="btn-delete" onclick="return confirm('Видалити {{this.name}}?')">Delete</a></td>
            
        </tr>
        {{else}}
        <tr>
            <td colspan="6" style="text-align: center;">Героїв не знайдено. Спробуйте додати першого!</td>
        </tr>
        {{/each}}
    </tbody>
</table>