{{#if isEdit}}
    <form method="POST" action="/heroes_mlbb/update/{{hero.id}}">
{{else}}
    <form method="POST" action="/heroes_mlbb/add">
{{/if}}
<style>
    body{
               background: #000000;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(158, 68, 68, 1) 23%, rgba(255, 0, 0, 1) 50%, rgba(184, 73, 73, 1) 76%, rgba(0, 0, 0, 1) 100%);
        height: 100vh;     
    }
        .action_buttons {
        color: #ff0000;
        style="text-decoration: none;
    }
    .save_button {
        background-color: rgb(32, 32, 32);
        width: auto;
        border: #2e2e2e;
    }
    .naming{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>
    <fieldset class="naming">
        <label>
            Name
            <input name="hero_name" value="{{hero.name}}" placeholder="Enter the name of the hero" />
        </label>
        <label>
            Class
            <input name="hero_class" value="{{hero.hero_class}}" placeholder="what class does the hero have?" />
        </label>
        <label>
            Role
            <input name="hero_role" value="{{hero.role}}" placeholder="hero's position example exp_roum" />
        </label>
        <label>
            Type of attack
            <input name="attack_type" value="{{hero.attack_type}}" placeholder="melee or ranged" />
        </label>
    </fieldset>

<button type="submit" class="save_button action_buttons" style="font-family: Georgia, 'Times New Roman', Times, serif; cursor: pointer;">
    SAVE
</button>

</form>